debug: false
management.endpoints.web.exposure.include: "*"

logging:
  level:
    com.fastcampus.projectboard: debug
    org.springframework.web.servlet: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/board #${LOCAL_DB_URL}
    username: uno #${LOCAL_DB_USERNAME}
    password: password #${LOCAL_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    defer-datasource-initialization: true
    hibernate.ddl-auto: create
    show-sql: true
    properties:
      hibernate.format_sql: true
      hibernate.default_batch_fetch_size: 100
  sql.init.mode: always
  data:
    rest:
      base-path: /api
      detection-strategy: annotated

---
#spring:
#  config:
#    activate:
#      on-profile: testdb
#  datasource:
#    driver-class-name: org.h2.Driver
#    url: jdbc:h2:mem:board;mode=mysql
#  sql:
#    init:
#      mode: always
  #test.database.replace:none
